<!doctype html>
<html lang="en">

<head>
    <title>Gospel Forum</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

        * {
            font-family: Montserrat;
        }

        body {
            margin: 10px;
            padding: 10px;
        }
        h1{
            color: green;
        }
        .btn{
            margin-left: 500px;
        }
        .form-control{
            text-align: center;
        }
        .para{
            text-align: center;
            color: green;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-5">Gospel Forum Church</h1>
        
     <hr>
     <p class="para mt-5">Please enter your Telephoe number below and click Complete!</p>
     <form class="form" action="/scan" method="POST">
        <input name="phone" class="form-control mt-5" placeholder="(+...) Mobile Number Is Prefered" type="text" required>
        <br>
    
        <button type="submit" class="btn btn-primary mt-5"
         value="Get QR"
         onclick="">Complete</button>
     </form>
    </div>

</body>

</html>